<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8 />
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="STX Next sp. z o.o." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="${ url_for('static', filename='css/normalize.css') }" media="all" rel="stylesheet" type="text/css" />
    <link href="${ url_for('static', filename='css/style.css') }" media="all" rel="stylesheet" type="text/css" />
    <script src="${ url_for('static', filename='js/jquery.min.js') }"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart', 'timeline'], 'language': 'pl'});
    </script>
    <script src="${ url_for('static', filename='/js/helpers.js') }"></script>

    <%block name="helper_js"></%block>
    <%block name="data_js"></%block>
</head>

<body>
    <div id="main">

        <div id="header">
            <h1>Presence analyzer</h1>
            <ul>
                <li
                    % if request.path in ["/", "/templates/presence_weekday"]:
                        class="selected"
                    % endif
                >
                    <a href="${ url_for('mainpage', tab='presence_weekday') }">Presence by weekday</a>
                </li>
                <li
                    % if request.path == "/templates/mean_time_weekday":
                        class="selected"
                    % endif
                >
                    <a href="${ url_for('mainpage', tab='mean_time_weekday') }">Presence mean time</a>
                </li>
                <li
                    % if request.path == "/templates/presence_start_end":
                        class="selected"
                    % endif
                >
                    <a href="${ url_for('mainpage', tab='presence_start_end') }">Presence start-end</a>
                </li>
                <li
                    % if request.path == "/templates/presence_location":
                        class="selected"
                    % endif
                >
                    <a href="${ url_for('mainpage', tab='presence_location') }">Presence by location</a>
                </li>
            </ul>
        </div>

        <div id="content">
            <%block name="tab_name"></%block>
            <p>
                <select id="user-id" style="display: none">
                    <option value="">--</option>
                </select>

                <div id="avatar"></div>
                <div id="chart-div" style="display: none"></div>

                <div id="loading">
                    <img src="${ url_for('static', filename='/img/loading.gif') }" />
                </div>
                <div id="data-error"></div>
            </p>
        </div>
    </div>
</body>
</html>
